@charset "utf-8";

.form{
	word-spacing: 5px;

}

.title{
	font-size:50px;
	background-image:url("background01.jpg");
}

.subtitle{
	font-size:40px;
	text-align:center
}

.main{
	background-image: url("background02.jpg");
	font-size:30px;
}

.text{
	margin:50px;
}
