@charset "utf-8";

.form{
	word-spacing: 5px;

}

body{
	display:flex;
	min-height:100vh;
	flex-direction:column;
}

p{

	font-size:30px;
	margin: 50px;
}

h2{
	margin: 40px
}

h3{

	margin: 50px

}

center{

	font-size:30px;

}

.title{
	font-size:50px;
	background-image:url("background01.jpg");
}

.subtitle{
	font-size:50px;
	text-align:center
}

.main{
	background-image: url("background02.jpg");
	font-size:30px;
}

.question{

	background-color:#ffffff;
	font-size:30px;
	margin: 60px;
	border: solid 2px black;

}

.box{
	font-size: 45px;
	border: solid 3px black;
	display: inline-block;

}

sup{
	font-size: 30px;
}

.fraction{
	font-size: 35px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.fraction_n,.fraction_d{
		font-size: 35px;
  display: block;
}
.fraction_n{
  border-bottom: 3px solid #333;
}

.text{
	display: flex;
	flex :1;
	margin: 50px;

}

.text>div{
	flex:1;
}

.canter{
	flex:1;
}

.right, .left{
	flex:0 0 12em;
}

.left{
	order:-1;
}

.formula{

	font-size:50px;

	text-align: center;
}

.kakko03 {
	  display: inline-block;
	padding: 30px;
	position: relative;
        text-align: center;
        color: #000;
}
.kakko03::before, .kakko03::after {
	display: block;
	font: normal normal 6rem 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
	position: absolute;
	line-height: 0;
}
.kakko03::before {
	content: '(';
	top: 50%;
	left: 0;
}
.kakko03::after {
	content: ')';
	top: 50%;
	right: 0;
        color: #000;
}
